.page {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    align-items: center;
    justify-content: center;
    background-color: #ededed;
    height: 100vh;
}

.button {
    cursor: pointer;
}

.login {
    display: grid;
    width: 60%;
    height: 60%;
    grid-template-columns: 1fr 0.8fr;
    grid-column: 2;
    margin: auto;
    border-radius: 10;
    background-color: #ffffff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.079);
    color: black;
}


.login_content {
    display: flex;
    flex-direction: column;
    border-radius: 10px 0 0 10px;
    /* left top, left bottom */
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    padding: 3rem;
}

.login_sideImage {
    background-image: url("../../../public/leaves.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.9;
    filter: blur(0.3px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 10px 10px 0;
    /* right top, right bottom */
    background-color: rgba(82, 163, 112, 0.765);
    width: 100%;
    height: 100%;
}

.form {
    display: flex;
    flex-direction: column;
}


.form__submit {
    padding: 0.5rem 1rem;
    background-color: #236935;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

.form__field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.form__field input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    background-color: #ffffff;
    color: #4b4b4b;
}

.form__field input:focus {
    border-color: #236935;
    outline: none;
}

.form__field input.error {
    border-color: red;
}

.form__header {
    margin-bottom: 2rem;
}

.form__header h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.form__header p {
    font-size: 0.8rem;

}

.form__header a {
    color: #236935;
    text-decoration: none;
}

.error {
    color: red;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

@media (max-width: 900px) {
    .login {
        grid-template-columns: 1fr;
    }

    .login_sideImage {
        display: none;
    }

    .login_content {
        border-radius: 10px;
    }
}