.page {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  align-items: center;
  justify-content: center;
  background-color: #ededed;
  height: 100vh;
}

.login {
  display: grid;
  width: 700px;
  height: 60%;
  grid-template-columns: 1fr 0.8fr;
  grid-column: 2;
  margin: auto; 
  border-radius: 10;
  background-color: #ffffff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.079);
  color: black;
}

.login_content {
  display: flex;
  flex-direction: column;
  border-radius: 10px 0 0 10px; /* left top, left bottom */
  justify-content: center;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  padding: 40px;
}

.login_sideImage {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 10px 10px 0; /* right top, right bottom */
  background-color: rgba(82, 163, 112, 0.765);
  width: 100%;
  height: 100%;
}